# Go executables & artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip

# Go build output folders
/bin/
/build/
/_build/
/artifact/
/eventgenerator/
/package/

# Local projects
eventgenerator*

# Test/coverage reports
*.out
*.html
*.prof

# Go module caches
**/vendor/

# OS files
*.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.sublime-*
*.swp

# Local dev
/internal/local_dev/

# Terraform
.terraform/
/*.tfstate
/*.tfstate.*
*.tfvars
override.tf
override.tf.json
*_override.tf.json
crash.log
terraform.plan
.terraform.lock.hcl

# AWS SAM / CloudFormation
.aws-sam/
/**/.aws-sam/
*.template
*.template.json
samconfig.toml

# CloudFormation change sets & packaging
.cfn/
.cloudformation/

